{% extends "base.html" %}

{% block content %}

<h2>Profil {{ username }}</h2>

<h3>Karya</h3>

{% if stories %}

    {% for story in stories %}

    <div class="story">

        <h3>
            <a href="/story/{{ story[6] }}">{{ story[1] }}</a>
        </h3>

        {% if story[2] %}
        <p><em>{{ story[2] }}</em></p>
        {% endif %}

        <p>{{ story[3][:200] }}...</p>

        <small>
        Oleh <a href="/user/{{ username }}">{{ username }}</a> | {{ story[4] }}
        </small>

        <hr>

    </div>

    {% endfor %}

{% else %}

<p>Belum ada karya.</p>

{% endif %}

{% endblock %}